body
{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-content: center;
}

td 
{
    border: 1px solid black;
    border-radius: 50%;
}

table
{

    width: 500px;
    height: 550px;
}

.playAgain
{
    width: 250px;
    height: 45px;
}

th 
{
    border: 1px solid black;
    border-radius: 50%;
    opacity: 1;
    background-color:rgb(255, 255, 255);;
}

th:hover
{
    color:white;
    background-color: purple;
}

#winnerTitle
{
    opacity:0;
}