/* Elements */

body {
    height: 100%;
    width: 750px;
    margin: 2rem;
    padding: 0;
    background-color: white;
    color: grey;
    text-align: center;    
    position: absolute;
}

h1 {
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

li {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
}


/* Classes */

.row {
    text-align: center;
    display: inline-grid;
    margin: 0;
    padding: 0;
}

.arrow {
    transform: rotate(90deg);
    font-size: 4rem;
    padding: 0 .25rem;
    color: black;
}

.circle {
    height: 3rem;
    width: 3rem;
    border-radius: 75%;
    border: .25rem solid grey;
    background-color: white;
    transition: all 250ms ease;
}

.winnersScreen {
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 10%;
    width:750px;
    left: 25%;
    height: 50%;
    transform: translate(-20%, 0%);
    text-align: center;
    transition: all 250ms ease;
    z-index: 1;
    pointer-events: none;
}

.resetBtn {
    pointer-events: all;
    transform: translate(-0%, 25%);
    width: 20rem;
    height: 10rem;
    background-color: whitesmoke;
    font-size: 2rem;
    border-radius: 5%;
}

.winnersTitle { 
    font-size: 3rem;
    text-align: center;
}
